body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://s12.gifyu.com/images/SD4ft.gif') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 350px;
    color: white;
}

.gif {
    width: 180px;
    height: 180px;
    border-radius: 90%;
    margin-right: 60px;
}

.details {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ff5678;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #b0bec5;
}
