body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://i.ibb.co/sgS6HxV/46192eff5e38ab7c1b35c3075149d964.gif') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 750px;
    color: white;
}

.gif {
    width: 90px;
    height: 90px;
    border-radius: 190%;
    margin-right: 60px;
}

.details {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ff5678;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #b0bec5;
}
